.reveal .noborders {
	border: none;
}

.reveal .nobg {
	background: none ;
}

.reveal .centered {
	display: block;
	text-align: center;
}

.reveal .container {
	width: 100%;
}

.reveal .col {
	padding-left: 10px;
	padding-right: 10px;
}

.reveal .code-big {
	font-size: 34px;
	font-weight: bold;
}

.reveal .center-table {
	width: 100%;
	
}

.reveal .center-table th, 
.reveal .center-table td {
	text-align: center;
	padding: 20px;
}

